:root {
    /* #FF4F00 - International orange */
    --hue: 37.42;
    --color-bg: #fff;

    --primary-1: oklch(99.2% 0.003 var(--hue));
    --primary-2: oklch(97.9% 0.016 var(--hue));
    --primary-3: oklch(95.7% 0.039 var(--hue));
    --primary-4: oklch(92.1% 0.087 var(--hue));
    --primary-5: oklch(89.1% 0.115 var(--hue));
    --primary-6: oklch(85.7% 0.121 var(--hue));
    --primary-7: oklch(80.5% 0.125 var(--hue));
    --primary-8: oklch(74.5% 0.149 var(--hue));
    --primary-9: oklch(67% 0.222 var(--hue));
    --primary-10: oklch(63.1% 0.222 var(--hue));
    --primary-11: oklch(58.9% 0.214 var(--hue));
    --primary-12: oklch(35% 0.08 var(--hue));

    --primary-contrast: #fff;
    --primary-surface: color(display-p3 1 0.953 0.933 / 0.8);
    --primary-indicator: oklch(67% 0.222 var(--hue));
    --primary-track: oklch(67% 0.222 var(--hue));

    @media (prefers-color-scheme: dark) {
        --color-bg: #111111;

        --primary-1: oklch(17.8% 0.013 var(--hue));
        --primary-2: oklch(20.7% 0.02 var(--hue));
        --primary-3: oklch(25.5% 0.056 var(--hue));
        --primary-4: oklch(29.2% 0.093 var(--hue));
        --primary-5: oklch(33.3% 0.103 var(--hue));
        --primary-6: oklch(38.3% 0.106 var(--hue));
        --primary-7: oklch(45% 0.115 var(--hue));
        --primary-8: oklch(53.9% 0.142 var(--hue));
        --primary-9: oklch(67% 0.222 var(--hue));
        --primary-10: oklch(63.1% 0.222 var(--hue));
        --primary-11: oklch(79.1% 0.188 var(--hue));
        --primary-12: oklch(91.1% 0.055 var(--hue));

        --primary-contrast: #fff;
        --primary-surface: color(display-p3 0.165 0.094 0.071 / 0.5);
        --primary-indicator: oklch(67% 0.222 var(--hue));
        --primary-track: oklch(67% 0.222 var(--hue));
    }
}
